* {
  margin: 0;
  padding: 0;
  background-color: darkblue;
}
header {
  color: white;
  text-align: center;
  margin: 10px;
}
p {
  margin: 14px;
}
.box1 {
}
footer {
  margin-bottom: 10px;
}
