* {
  margin: 0;
  padding: 0;
  background-color: darkblue;
}
header {
  color: white;
  text-align: center;
  margin: 10px;
}
p {
  margin: 14px;
}

.top-box, .bottom-box{
    display:flex;
}

main{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.box1, .box2, .box3{
    flex-wrap:wrap;
    margin:10px;
    height:200px;
    width: 200px;
    background-color:pink;
}

.box4, .box5, .box6{
flex-wrap:wrap;
margin:10px;
height:300px;
width: 200px;
background-color:pink;
}

footer {
  margin-bottom: 10px;
  color:white;
  text-align:center;
}
