* {
  margin: 10px;
  padding: 0;
  background-color: darkblue;
}

header,
footer {
  color: white;
  text-align: center;
  margin: 25px;
}

p {
  margin: 14px;
  color: white;
}

.box {
  background-color: purple;
  width: 200px;
  height: 200px;
  border: 2px dashed white;
}
.top,
.horizontal-boxes {
  display: flex;
  justify-content: center;
}

div p {
  z-index: 1;
  border: 3px solid white;
  width: 150px;
  height: 25px;
  position: fixed;
  text-align: center;
}
